
<h1 style="color:Black;"><font face="Copperplate"><font size="+5">Create User</font></h1>
<br>
<font face="Copperplate">
<%= form_for @user do |f| %>
    Name: <%= f.text_field :name%><br><br>
    Birthday: <%=f.text_field :birthday%><br><br>
    Location: <%=f.text_field :location%> <br><br>
    <%= f.submit %>
    </font>
    <% end %><br>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsZFtdrlfxZKaYih2cofkTTTX8TSjBaUJqyg&usqp=CAU" class="img-fluid" alt="...">