
<h1 style="color:Black;"><font face="Copperplate"><font size="+5">Product</font></h1>
<br>


<font face="Copperplate"><font size="+1">
Name: <%= @product.name %><br><br>
Brand: <%= @product.brand %><br><br>
Price: <%= @product.price%><br><br>
Category: <%= link_to @product.category.name, category_path(@product.category.id)%><br><br>
Reviews: <% @product.reviews.each do |review| %><br>
    <%=link_to review.title, review %><br>
    <%end %><br><br>
<%= button_to "Delete Product", @product, method: :delete %><br><br>
</font><br>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8hVRk4F070rZWuMX23lgrBz43w0RvuVfjFA&usqp=CAU" alt="Smiley face" width="400" height="300" style="vertical-align:middle;margin:50px 0px">


